body{
    background: #000;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 10px 10%;
}
nav{
    width: 100%;
    height: 80px;
    background: #000;
}
label.logo{
    font-size: 30px;
    line-height: 80px;
    font-weight:bold;
    color: #fff;
}
nav ul{
    float: right;
}
nav ul li{
    padding: 10px;
    display: inline-block;
    line-height: 30px;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    font-size: large;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease;
}
nav ul li a::after{
    content: '';
    width: 0;
    display: block;
    background-color: red;
    position: absolute;
    height: 3px;
    transition: width 0.4s ease;
}
nav ul li a:hover::after{
    width: 100%;
    /* margin:auto; */
}
.sub-title{
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}
/* ---------------------- Home page section ------------------------ */
.header-text{
    margin-top: 20%;
    font-size: 30px ;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/* -----------------about----------- */
#about{
    padding: 80px 0;
    color: aliceblue;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-clo1{
    flex-basis: 30%;
}
.about-clo1 img{
    width: 100%;
    border-radius: 10px;
}
.about-clo2{
    display: grid;
    grid-column-end: 10px;
    flex-basis: 65%;
    width: 40px;
    align-self:first baseline;
}
/* -------------Work------------- */
#works{
    padding:30px 0;
}
.work-list{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
}
.work-list div{
    padding: 40px;
    background-color: rgb(76, 75, 74);
    font-size: 14px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.work-list div i{
    font-size: 30px;
    margin-bottom: 30px;
}
.work-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.work-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* -----------SKILLS------------ */
#skills .icons{
    color: #fff;
    padding: 80px 10%;
    font-size: 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
}
#skills .icons i{
    display: block;
    margin: 0 auto;
}
/* -----------------contact--------------- */
.contact-left{
    flex-basis: 30%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.4s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 15px;
    border-radius: 6px;
    color: #fff;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/* -------------------css for small screens----------------------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px){
    label.logo{
        font-size: 40px;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display:block;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        margin-left: 0;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .fa-solid{
        float: right;
        margin-top: 30px;
    }
    /* ---------------About Me---------------- */
    .sub-title{
        font-size: 30px;
    }
    .about-clo1, .about-clo2{
        flex-basis: 100%;
    }
    .about-clo1{
        margin-bottom: 30px;
    }
    .about-clo2{
        font-size: 14px;
    }
    /* ---------------skills--------------- */
    #skills .icons {
        font-size: 20px;
        grid-template-columns: repeat(4, 1fr);  /* Ensures 3 columns */
        gap: 20px;
        padding: 40px 5%;
    }
    .contact-left p{
        font-size: 14px;
        display: flex; 
        align-items: center;
        gap: 10px;
    }
    .contact-left p i {
        margin-top: 7px;
        font-size: 18px; 
        margin-right: 8px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}